<div class="text-center container mt-3">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="card">
                <img src="assets/icon/confirmacion.svg" alt="" width="100%">
                <div class="card-body">
                  <p class="card-text">Ha registrado correctamente el pedido</p>
                  <button class="btn btn-primary" (click)="volver()">Ir a Productos</button>
                </div>
            </div>
        </div>
        <div class="col-4"></div>
    </div>
    
</div>
