<div class="modal-header">
    <h4 class="modal-title">Guardar Datos</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="cerrarVentana()"></button>
</div>
<div class="modal-body">
    

<div class="container text-end mt-2">

    <table class="table table-striped text-start">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Referencia</th>
                <th scope="col">Cantidad</th>
                <th scope="col">Precio</th>
                <th scope="col">Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>		
            <tr *ngFor="let item of ventaSer.detalle_venta_actual">
                <th scope="row">{{ item.nombre }}</th>
                <td>{{ item.referencia }}</td>
                <td>{{ item.cantidad }}</td>
                <td>{{ item.precio | number }}</td>
                <td>{{ item.total | number }}</td>
                <td>
                    <button type="button" class="btn btn-danger btn-sm" (click)="eliminarProducto(item.producto_id)"><i class="fa-solid fa-trash"></i></button>
                </td>
            </tr>
            
        </tbody>
    </table>
</div>




</div>
<div class="modal-footer">
    <button type="button" class="btn btn-warning" (click)="cerrarVentana()">Cancelar</button>
    <button type="button" class="btn btn-success" (click)="guardarVenta()" *ngIf="ventaSer.detalle_venta_actual.length > 0">Guardar</button>
</div>